<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 ">
            <div class="a">
                <h2 class="text-dar border-dark">SKILL LIST</h2>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>

            <th>
                Skill Id
            </th>
            <th>
                Skill Name
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            //@if()
            <tr>
                <td width="10%">
                    @obj.Id
                </td>
                <td width="10%">
                    @obj.Employee_Name
                </td>
                @*<td>
                    <div class="w-75 btn btn-group">
                        <a asp-controller="Employee" asp-action="Employee_Edit" asp-route-id="@obj.Id" asp-route-data="@obj.Skill"
                           class="btn btn-primary mx-2"><i class="bi bi-plus-circle"></i>Add Skill</a>

                    </div>
                </td>*@

            </tr>
        }
    </tbody>
</table>
   
